@import "tailwindcss";

@theme {
  --font-primary: "Sulphur Point", sans-serif;

  --color-primary: #f29502;
  --color-primary-hover: #cf7f02;
  --color-primary-dark: rgb(242, 149, 2, 0.5);
  --color-pink: #ff357f;
  --color-pink-dark: rgba(255, 53, 127, 0.5);
  --color-blue: #69c9d0;
  --color-blue-dark: rgb(105, 201, 208, 0.5);
  --color-white: #f8f8f8;
  --color-black: #000;

  --animate-floating-icons-right: floatingIconsRight 90s linear infinite;
  --animate-floating-icons-left: floatingIconsLeft 90s linear infinite;
  --animate-rotate-icon: rotateIcon 20s ease-in-out infinite;

  --career-background: url("../assets/images/career_background.png");
  --animate-fade-up: fadeUp 0.8s ease-out forwards;

  @keyframes floatingIconsRight {
    from {
      transform: translateX(-50%);
    }

    to {
      transform: translateX(0);
    }
  }

  @keyframes floatingIconsLeft {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(-50%);
    }
  }

  @keyframes rotateIcon {
    0%,
    100% {
      transform: rotate(-5deg);
    }

    50% {
      transform: rotate(5deg);
    }
  }

  @keyframes fadeUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
