@import "tailwindcss";

@theme {
  --font-primary: "Sulphur Point", sans-serif;

  --color-primary: #f29502;
  --color-primary-hover: #cf7f02;
  --color-primary-dark: #6d4301;
  --color-pink: #ff357f;
  --color-orange: #69c9d0;
  --color-white: #f8f8f8;
  --color-black: #000;
}
